<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/register.css}">

</head>
<body>
	
	<!-- Include header -->
	    <div th:replace="~{fragments/header ::header}"></div>
		
		<div class="content">
				
			 <h2>Register Page</h2>
			 
			 <!-- Show error message if any -->
			 <div th:if="${error}" class="error-message">
				<p th:text="${error}"></p>
			 </div>
			 
			    <form th:action="@{/register}" method="post" th:object="${user}"
		            style="display: flex; flex-direction: column; gap: 10px; max-width: 400px;">
			        
		            <label for="name">Full Name:</label>
			        <input type="text" id="name" th:field="*{name}" placeholder="Enter your full name" required> <br><br>
					
			        <label for="name">Email:</label>
			        <input type="text" id="email" th:field="*{email}" placeholder="Enter your email" required> <br><br>
					
					<label for="password">Password:</label>
					<input type="password" id="password" th:field="*{password}" placeholder="Enter your password" required> <br> <br>
					
			        <!-- Optional role selection (if your system has doctor/patient roles)-->
	
		            <label for="role">Register As:</label>
		            <select id="role" th:field="*{role}">
		                <option value="">-- Select Role --</option>
						<option value="ADMIN">ADMIN</option>
						<option value="DOCTOR">Doctor</option>
		                <option value="PATIENT">Patient</option>
		            </select>
					
					<!-- Doctor fields-->
					<div th:if="${user.role == 'DOCTOR'}">
					        <label >Specialization:</label>
					        <select name="specialization" required>
					            <option value="">Select Specialization</option>
					            <option value="Cardiologist">Cardiologist</option>
					            <option value="Dermatologist">Dermatologist</option>
					            <option value="Orthopedic">Orthopedic</option>
					            <option value="Neurologist">Neurologist</option>
					            <option value="General Physician">General Physician</option>
					        </select><br> <br>

					        <label >Availability:</label>
					        <select name="availability" required>
					            <option value="">Select Availability</option>
					            <option value="Mon-Fri, 10AM-4PM">Mon-Fri, 10AM-4PM</option>
					            <option value="Mon-Sat, 9AM-1PM">Mon-Sat, 9AM-1PM</option>
					            <option value="Weekend Only">Weekend Only</option>
					            <option value="Evenings Only">Evenings Only</option>
					            <option value="Mon, Wed, Fri, 9AM-1PM">Mon, Wed, Fri, 9AM-1PM</option>
					        </select>
					</div>	
					
					<button type="submit">Register</button>
			    </form>
	
				
					
			    <p>Already have an account? <a th:href="@{/login}">Login</a></p>

			</div>	
			
	        <!-- Include footer -->
		    <div th:replace="~{fragments/footer ::footer}"></div>

 </body>
</html>