<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Datail</title>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/appointmentView.css}">
    
</head>
<body>
   
	<div th:replace="~{fragments/header ::header}"></div>
	
	<h2>Appointment Details</h2>

    <p><strong>Doctor:</strong> <span th:text="${appointments.doctor.name}"></span></p>

    <p><strong>Patient:</strong> <span th:text="${appointments.patient.name}"></span></p>

    <p><strong>Date:</strong> <span th:text="${appointments.datetime}"></span></p>

    <a th:href="@{/patient/dashboard}">Back to </a><br>
	
</body>
</html>